---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About | Dishan Sachin" descrption="Hi there I am Dishan Sachin.">
  <section>
    <h1 class="font-medium text-xl mb-8 tracking-tighter">Hey there 👋,</h1>
    <div class="prose prose-neutral dark:prose-invert">
      <p>
        I'm a backend engineer and a writer from Sri Lanka. I work at Ruzzz and
        I love creating products and telling their stories. I'm pretty good at
        Laravel (PHP) and Django (Python), and I'm not just into building stuff
        - I also like to understand how things work and share my knowledge with
        others.
      </p>
    </div>
    <div class="prose prose-neutral dark:prose-invert my-8">
      <p>
        I'm always looking for ways to give back to the open-source community.
        Whether it's decoding complex code or making tricky concepts easier to
        understand, I'm up for the challenge.
      </p>
    </div>
    <div class="flex item-center space-x-5">
      <a href="https://github.com/skdishansachin" target="_blank">GitHub</a>
      <a href="https://x.com/skdishansachin" target="_blank">X</a>
      <a href="https://www.linkedin.com/in/skdishansachin/" target="_blank"
        >Linkedin</a
      >
      <a href="mailto:skdishansachin@gmail.com" target="_blank">Mail</a>
    </div>
  </section>
</Layout>
