---
import Layout from '@layouts/Layout.astro';
---

<Layout title="About | Dishan Sachin" descrption="Hi there I am Dishan Sachin.">
    <section>
        <div class="pb-5 font-semibold tracking-tighter">
            <p class="pb-3 text-2xl md:text-3xl lg:text-4xl">
                S.K Dishan Sachin
            </p>
            <div class="item-center flex space-x-5">
                <a href="https://github.com/skdishansachin" target="_blank"
                    >GitHub</a
                >
                <a href="https://x.com/skdishansachin" target="_blank">X</a>
                <a
                    href="https://www.linkedin.com/in/skdishansachin/"
                    target="_blank">Linkedin</a
                >
                <a href="mailto:skdishansachin@gmail.com" target="_blank"
                    >Mail</a
                >
            </div>
        </div>
        <div class="prose prose-neutral dark:prose-invert">
            <p>
                I work on the backend, specifically on <a
                    href="https://laravel.com/"
                    target="_blank">Larval</a
                > and <a href="https://www.djangoproject.com/" target="_blank"
                    >Django</a
                >. I also like to blog and contribute to open-source projects.
                I'm not that famous in the open-source community but I'm trying,
                you know. I blog about anything that I find useful and worth
                sharing with others.
            </p>
        </div>
        <div class="prose prose-neutral my-8 dark:prose-invert">
            <p>
                In my personal life, I'm from Colombo, <a
                    href="https://en.wikipedia.org/wiki/Sri_Lanka"
                    target="_blank">Sri Lanka.</a
                > It's a beautiful place if you're wondering. Currently, I'm studying
                at
                <a href="https://www.javainstitute.edu.lk/" target="_blank"
                    >Java Institute.</a
                > I enjoy playing basketball and watching sci-fi movies while listening
                to calming or sometimes pop music.
            </p>
        </div>
        <div class="prose prose-neutral my-8 dark:prose-invert">
            <h3>Colophon</h3>
            <p>
                Just so you know, this blog is made with markdown and hosted on <a
                    href="https://vercel.com/"
                    target="_blank">Vercel</a
                >. The cool stuff like <a
                    href="https://tailwindcss.com/"
                    target="_blank">Tailwindcss</a
                > and <a href="https://astro.build/" target="_blank">Astro</a> are
                used along with <a
                    href="https://vercel.com/analytics"
                    target="_blank">Vercel analytics</a
                >. The font used is called <a
                    href="https://rsms.me/inter/"
                    target="_blank">Inter</a
                > by <a href="https://rsms.me/about/" target="_blank"
                    >Rasmus Andersson</a
                >. The design is inspired by <a
                    href="https://leerob.io/"
                    target="_blank">Lee Robinson</a
                >.
            </p>
        </div>
    </section>
</Layout>
