---
import { getCollection, type CollectionEntry } from 'astro:content';

import Layout from '@components/Layout.astro';
import { formatDate } from '@utils/format';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await post.render();

if (post.data.status === 'draft') {
    return Astro.redirect('/blog');
}
---

<Layout title={post.data.title} description={post.data.description}>
    <article data-pagefind-body>
        <h1
            class="text-4xl font-bold tracking-tight text-black dark:text-white"
        >
            {post.data.title}
        </h1>
        <p class="my-4 text-lg tracking-tight text-black dark:text-white">
            {formatDate(post.data.publishedAt)}
        </p>
        <div
            id="content"
            class="prose prose-lg prose-gray mt-4 max-w-full font-serif dark:prose-invert"
        >
            <Content />
        </div>
    </article>
</Layout>

<style is:global>
    /* You can override the line height with `!leading-tight`  */
    #content .astro-code {
        @apply rounded-sm;
    }

    #content h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-sans tracking-tight;
    }
</style>
