---
import { getCollection, type CollectionEntry } from 'astro:content';

import Layout from '@components/Layout.astro';
import { formatDate } from '@utils/format';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await post.render();

if (post.data.status === 'draft') {
    return Astro.redirect('/blog');
}
---

<Layout title={post.data.title} description={post.data.description}>
    <h1 class="text-4xl font-bold tracking-tighter">{post.data.title}</h1>
    <p class="mt-4 text-lg text-zinc-450 tracking-tight">
        {formatDate(post.data.publishedAt)}
    </p>
    <!-- by default the code block font set arround 14px I have changed it to `text-base` -->
    <!-- Update the heading h1, h2, h3 letter space -->
    <div
        class="prose mt-4 lg:prose-lg prose-h1:tracking-tighter prose-h2:tracking-tighter prose-h3:tracking-tighter prose-code:text-base"
    >
        <Content />
    </div>
</Layout>

<style lang="postcss">
	:global(#md .astro-code) {
		@apply !leading-tight;
	}
</style>
