---
import { getCollection, type CollectionEntry } from 'astro:content';

import Layout from '@components/Layout.astro';
import { formatDate } from '@utils/format';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await post.render();

if (post.data.status === 'draft') {
    return Astro.redirect('/blog');
}
---

<Layout title={post.data.title} description={post.data.description}>
    <h1 class="text-4xl font-black text-white">
        {post.data.title}
    </h1>
    <p class="my-4 text-lg text-zinc-300">
        {formatDate(post.data.publishedAt)}
    </p>
    <!-- by default the code block font set arround 14px I have changed it to `text-base` -->
    <!-- there will be no light mode -->
    <div
        class="prose mt-4 max-w-full dark:prose-invert prose-p:mt-7 prose-p:leading-7 prose-p:text-zinc-300 prose-code:text-base"
    >
        <Content />
    </div>
</Layout>

<style lang="postcss">
	:global(#md .astro-code) {
		@apply !leading-tight;
	}
</style>
