---
import { getCollection, render } from "astro:content";
import Layout from "@/components/Layout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("post", ({ data }) => {
		return data.hidden !== true;
	});

	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
	<a href="/">Go back</a>
	<div class="mt-10 prose prose-gray text-gray-800 dark:text-zinc-200 dark:prose-invert">
		<Content />
	</div>
</Layout>
