---
import { getCollection, type CollectionEntry } from "astro:content"
import Layout from "@components/Layout.astro"
import FormattedDate from "@components/FormattedDate.astro"

export async function getStaticPaths() {
    const posts = await getCollection("posts")
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }))
}
type Props = CollectionEntry<"posts">

const post = Astro.props
const { Content } = await post.render()

if (post.data.status === "draft") {
    return Astro.redirect("/blog")
}
---

<Layout
    title={`${post.data.title} | Dishan Sachin`}
    description={post.data.description}
>
    <article>
        <h1 class="title max-w-[650px] text-2xl font-medium tracking-tighter">
            {post.data.title}
        </h1>
        <p class="mb-8 mt-2 text-sm text-neutral-600 dark:text-neutral-400">
            <FormattedDate date={post.data.publishedAt} />
        </p>
        <article
            id="content"
            class="prose-quoteless prose prose-neutral dark:prose-invert"
        >
            <Content />
        </article>
    </article>
</Layout>

<style is:global>
    /* You can override the line height with `!leading-tight`  */
    prose .anchor {
        @apply invisible absolute no-underline;

        margin-left: -1em;
        padding-right: 0.5em;
        width: 80%;
        max-width: 700px;
        cursor: pointer;
    }

    .anchor:hover {
        @apply visible;
    }

    .prose a {
        @apply decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-neutral-600;
    }

    .prose .anchor:after {
        @apply text-neutral-300 dark:text-neutral-700;
        content: "#";
    }

    .prose *:hover > .anchor {
        @apply visible;
    }

    .prose pre {
        @apply overflow-x-auto rounded-lg border border-neutral-200 bg-neutral-50 dark:border-neutral-900 dark:bg-neutral-900;
    }

    .prose code {
        @apply rounded-lg px-1 py-0.5;
    }

    .prose pre code {
        @apply p-0;
        border: initial;
        line-height: 1.5;
    }

    .prose code span {
        @apply font-medium;
    }

    .prose img {
        /* Don't apply styles to next/image */
        @apply m-0;
    }

    .prose h2,
    h3,
    h4 {
        @apply font-medium tracking-tighter !important;
    }

    .prose strong {
        @apply font-medium;
    }

    .prose > :first-child {
        /* Override removing top margin, causing layout shift */
        margin-top: 1.25em !important;
        margin-bottom: 1.25em !important;
    }

    .prose .callout > p {
        margin: 0 !important;
    }

    .title {
        text-wrap: balance;
    }
</style>
