---
import Layout from '@components/Layout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
    return data.status === 'published';
});
---

<Layout title="Dishan Sachin | Blog" description="Read my blog.">
    <h1 class="font-medium text-2xl mb-8 tracking-tighter">
        my blog
      </h1>
    <ul class="list-disc">
        {
            posts.map((post) => {
                return (
                    <li class="flex flex-col space-y-1 mb-4">
                        <a
                            href={`/blog/${post.slug}`}
                            class="text-neutral-900 dark:text-neutral-100 tracking-tight"
                        >
                            {post.data.title}
                        </a>
                        <p class="text-sm">
                            {new Date(post.data.publishedAt).toLocaleDateString(
                                'en-US',
                            )}
                        </p>
                    </li>
                );
            })
        }
    </ul>
</Layout>
