---
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("posts", ({data}) => {
    return data.status !== "draft";
});
---

<Layout title="Blog | Dishan Sachin">
  <h1 class="font-medium text-2xl mb-8 tracking-tighter">read my blog</h1>
  {
    posts.map((post) => (
      <a class="flex flex-col space-y-1 mb-4" href={`/blog/${post.slug}`}>
        <div class="w-full flex flex-col">
          <p class="text-neutral-900 dark:text-neutral-100 tracking-tight">
            {post.data.title}
          </p>
          <p class="text-neutral-600 dark:text-neutral-400">
            {post.data.publishedAt.toLocaleDateString()}
          </p>
        </div>
      </a>
    ))
  }
</Layout>
