---
import { getCollection } from 'astro:content';
import { lightFormat } from 'date-fns';

import Layout from '@layouts/Layout.astro';

const posts = await getCollection('posts', ({ data }) => {
    return data.status !== 'draft';
});
---

<Layout title='Dishan Sachin' description='Check out my thoughts on software development, tools, and other cool stuff.'>
    <h1 class="mb-8 text-4xl font-medium tracking-tighter">My blog posts</h1>
    {
        posts.map((post) => (
            <article class="mb-5 flex w-full flex-col">
                    <p class="text-xl tracking-tight text-neutral-900 dark:text-neutral-100">
                        <a href={`/blog/${post.slug}`}>
                            {post.data.title}
                        </a>
                    </p>
                    <p class="text-neutral-600 dark:text-neutral-400">
                        {lightFormat(
                            new Date(post.data.publishedAt.toLocaleDateString()),
                            'yyyy-MM-dd',
                        )}
                    </p>
            </article>
        ))
    }
</Layout>
