@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "Geist Variable", sans-serif;
	--font-mono: "JetBrains Mono Variable", monospace;
}

a {
	@apply underline hover:text-blue-600 transition-colors dark:text-gray-400 hover:dark:text-gray-300 dark:underline-offset-2 dark:decoration-gray-800;
}

code:not(pre code) {
	@apply bg-gray-100 text-gray-900 dark:text-zinc-300 dark:bg-gray-900 rounded-md px-1 py-0.5;
}

@media (prefers-color-scheme: dark) {

	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}