@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
	font-family: "Geist Variable", sans-serif;
}

code {
	font-family: "Geist Mono Variable", monospace;
}

ul {
	@apply list-disc;
}

a {
	@apply underline hover:text-blue-600 transition-colors;
}

code:not(pre code) {
	@apply bg-gray-100 text-gray-900 rounded-md px-1 py-0.5;
}