---
import Layout from '@components/Layout.astro';
---

<Layout title="404 not found" description="The page your looking for not found">
    <section>
        <h1 class="mb-8 text-2xl font-medium tracking-tighter">
            This page not found!
        </h1>
    </section>
</Layout>
