---
import Base from '@components/Base.astro';
---

<Base title="404 not found" description="The page your looking for not found">
    <div class="flex h-screen items-center justify-center">
        <div class="text-center">
            <h1 class="text-3xl font-semibold text-black dark:text-white">
                404 Not Found!
            </h1>
            <a href="/" class="font-serif text-black underline dark:text-white"
                >Go back home</a
            >
        </div>
    </div>
</Base>
