---
import Layout from "@/components/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
	return !data.hidden;
});
---

<Layout title="Dishan Sacin" description="Dishan Sachin's personal website">
	<img
		src="/profile.jpg"
		alt="profile"
		class="mt-8 size-12 rounded-full bg-zinc-100 sm:size-16"
	/>
	<h1 class="my-8 font-bold text-4xl">skdishansachin</h1>
	<p>
		Hi! I'm Dishan Sachin, an undergraduate software engineer from Sri Lanka.
	</p>
	<p class="mt-4">
		I spend a lot of my time working with backend technologies. I mainly work with the Java Spring ecosystem and am interested in microservices, distributed systems, and software architectures.
	</p>
	<p class="mt-4">
		You can find me on <a
			href="https://github.com/skdishansachin"
			class="text-gray-700 underline hover:text-black transition-colors"
			>GitHub</a
		>. You can also email me at <a
			href="mailto:skdishansachin@gmail.com"
			class="text-gray-700 underline hover:text-black transition-colors"
			>skdishansachin@gmail.com</a
		>.
	</p>

	<section class="mt-12">
		<h2 class="text-3xl font-semibold sm:font-bold">Blog</h2>
		<div class="mt-4 flex flex-col gap-y-4">
			{
				posts.map((post) => {
					return (
						<article>
							<h3>
								<a href={`/blog/${post.id}`}>
									{post.data.title}
								</a>
							</h3>
							<p class="text-gray-700">{post.data.date}</p>
						</article>
					);
				})
			}
		</div>
	</section>
</Layout>
