---
import Layout from '@components/Layout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
    return data.status === 'published' && data.isFeatured === true;
});
---

<Layout title="Dishan Sachin" description="Dishan Sachin's personal website">
    <section>
        <h1
            class="mb-3 font-sans text-3xl font-semibold tracking-tight text-[#2e3440] dark:text-white"
        >
            Hello! I’m Dishan Sachin 👋
        </h1>
        <p class="font-serif text-lg text-[#676767] dark:text-white">
            I do backend development, write sometimes, play
            basketball, and love music. I'm into building stuff and playing
            old-school arcade games. I'm a huge fan of open source and coffee.
            Nice to meet you!
        </p>
    </section>
    <section class="mt-12">
        <h1
            class="font-sans text-3xl font-semibold tracking-tight text-[#2e3440] dark:text-white"
        >
            I write ⌨️
        </h1>
        <ul class="list-disc">
            {
                posts.map((post) => {
                    return (
                        <li class="pt-3">
                            <a
                                href={`/blog/${post.slug}`}
                                class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                            >
                                {post.data.title}
                            </a>
                        </li>
                    );
                })
            }
        </ul>
    </section>
    <section class="mt-12">
        <h1
            class="mb-3 font-sans text-3xl font-semibold tracking-tight text-[#2e3440] dark:text-white"
        >
            Currently ⌚
        </h1>
        <p class="font-serif text-lg text-[#676767] dark:text-white">
            At Ruzzz, we're currently working on some e-commerce projects,
            mainly using Shopify. I know it might sound like "ahh," but trust
            me, there's a lot to it. Setting up a store, understanding client
            needs, and choosing the right tools for the job is tough. Whether
            it's Hydrogen, Next.js, or just using Liquid templates, there's more
            to it than it seems.
        </p>
    </section>
    <section class="mt-12">
        <h1
            class="mb-3 font-sans text-3xl font-semibold tracking-tight text-[#2e3440] dark:text-white"
        >
            I watch 👀
        </h1>
        <p class="font-serif text-lg text-[#676767] dark:text-white">
            Here is a small list of movies I like.
        </p>
        <ul class="list-disc">
            <li class="pt-3">
                <a
                    target="_blank"
                    href="https://www.imdb.com/title/tt0103064"
                    class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                >
                    Treminator 2: Judgement Day
                </a>
            </li>
            <li class="pt-3">
                <a
                    target="_blank"
                    href="https://www.imdb.com/title/tt0993846"
                    class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                >
                    The Wolf of Wall Street
                </a>
            </li>
            <li class="pt-3">
                <a
                    target="_blank"
                    href="https://www.imdb.com/title/tt1790864"
                    class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                >
                    The Maze Runner
                </a>
            </li>
            <li class="pt-3">
                <a
                    target="_blank"
                    href="https://www.imdb.com/title/tt15398776"
                    class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                >
                    Oppenheimer
                </a>
            </li>
        </ul>
    </section>
    <section class="mt-12">
        <h1
            class="font-sans text-3xl font-semibold tracking-tight text-[#2e3440] dark:text-white"
        >
            Let's Connect 📬
        </h1>
        <ul class="list-disc">
            <li class="pt-3">
                <a
                    target="_blank"
                    href="https://dub.sh/mVZ0vcS"
                    class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                >
                    GitHub
                </a>
            </li>
            <li class="pt-3">
                <a
                    target="_blank"
                    href="https://dub.sh/rxQSjFM"
                    class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                >
                    X
                </a>
            </li>
            <li class="pt-3">
                <a
                    target="_blank"
                    href="https://dub.sh/CJb2MuA"
                    class="font-serif text-lg text-[#2e3440] hover:underline dark:text-white"
                >
                    LinkedIn
                </a>
            </li>
        </ul>
    </section>
</Layout>
