---
import Layout from '@components/Layout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
    return data.status === 'published' && data.isFeatured === true;
});
---

<Layout title="Dishan Sachin" description="Dishan Sachin's personal website">
    <section>
        <h1 class="mb-8 text-2xl font-medium tracking-tighter">
            hi, I am Dishan Sachin
        </h1>
        <p class="prose prose-neutral dark:prose-invert">
            I'm an undergraduate studying at the Java Institute for Advanced
            Technology. While I'm a full-stack developer, I'd like to focus more
            on backend work. I'm currently creating projects that developers to
            focus on coding by handling the housekeeping stuff of the projects
            they are working on. It might not make much sense now, but stay
            tuned for more! Additionally, I like to give back by contributing to
            open-source projects I use daily. You can check them out on my
            GitHub.
        </p>
        <div class="mt-8">
            <div class="flex flex-row space-x-0">
                <a
                    href="https://github.com/skdishansachin"
                    class="relative flex py-1 pr-2 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
                >
                    github
                </a>
                <a
                    href="https://www.linkedin.com/in/skdishansachin"
                    class="relative flex px-2 py-1 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
                >
                    linkedin
                </a>
                <a
                    href="https://twitter.com/skdishansachin"
                    class="relative flex px-2 py-1 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
                >
                    twitter
                </a>
                <a
                    href="mailto:skdishansachin@gmail.com"
                    class="relative flex px-2 py-1 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
                >
                    mail
                </a>
            </div>
        </div>
    </section>
</Layout>
