---
import Layout from "@/components/Layout.astro";

import { getCollection } from "astro:content";
import { limit, date } from "@/utils";

const posts = await getCollection("post", ({ data }) => {
	return data.hidden !== true;
});
---

<Layout title="Dishan Sachin" description="Dishan Sachin's personal website">
	<h1 class="text-2xl tracking-tight font-bold pt-12 text-gray-800">Dishan Sachin</h1>
	<p class="mt-4 text-gray-800">
		
	</p>
	<p class="mt-4 text-gray-800">
		You can find me on <a href="https://github.com/skdishansachin">GitHub</a>, and <a href="https://bsky.app/profile/skdishansachin.bsky.social">BlueSky</a>. You can also email me at <a href="#">someone@example.com</a>.
	</p>
	{
		posts.length > 0 && (
			<section class="mt-8 mb-3">
				<h1 class="text-2xl tracking-tight font-bold text-gray-800">Blog</h1>
				<div class="mt-4 flex flex-col space-y-4">
					{posts.map((post) => {
						return (
							<article class="flex justify-between">
								<h3>
									<a href={`/blog/${post.id}`} class="text-gray-800">
										{limit(post.data.title)}
									</a>
								</h3>
								<p class="text-sm text-gray-800">
									{date(post.data.date)}
								</p>
							</article>
						);
					})}
				</div>
			</section>
		)
	}
</Layout>
