---
import Layout from '@components/Layout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
    return data.status === 'published';
});
---

<Layout title="Dishan Sachin" description="Dishan Sachin's personal website">
    <h1 class="mb-3 text-3xl font-bold tracking-tighter">
        Hi, I'm Dishan Sachin
    </h1>
    <p class="text-lg text-zinc-800">
        I'm a backend developer, currently working on my own company called
        Ruzzz with one of my friends. I love working in teams, so let's connect
        and see if there's a chance to work together!
    </p>
    <section class="mt-12">
        <h2 class="mb-4 text-3xl font-semibold">Blog</h2>
        {
            posts.map((post) => {
                return (
                    <article class="mb-4">
                        <h3 class="w-fit text-lg font-semibold">
                            <a
                                href={`/blog/${post.slug}`}
                                class="hover:text-main hover:underline"
                            >
                                {post.data.title}
                            </a>
                        </h3>
                        <p class="text-lg text-zinc-400">
                            {post.data.description}
                        </p>
                    </article>
                );
            })
        }
    </section>
</Layout>
