---
import Layout from '@components/Layout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
    return data.status === 'published' && data.isFeatured === true;
});
---

<Layout title="Dishan Sachin" description="Dishan Sachin's personal website">
    <section>
        <h1 class="mb-8 text-2xl font-medium tracking-tighter">
            hi, I am Dishan Sachin
        </h1>
        <p class="prose prose-neutral dark:prose-invert">
            I am a software developer, writer, and an undergraduate student at
            the Java Institute For Advanced Technology. I spend most of my time
            reading books and articles.
        </p>
        <p class="mt-8 prose prose-neutral dark:prose-invert">
            Specifically, I am a passionate Backend Developer who loves solving complex problems. With a knack for building efficient and scalable systems. I do frontend too, but I prefer to work on the backend.
        </p>
    </section>
</Layout>
