<div>
    <h2>Follow me on -</h2>
    <div class="item-center flex space-x-5">
        <a href="https://github.com/skdishansachin" target="_blank">GitHub</a>
        <a href="https://x.com/skdishansachin" target="_blank">X</a>
        <a href="https://www.linkedin.com/in/skdishansachin/" target="_blank"
            >Linkedin</a
        >
        <a href="mailto:skdishansachin@gmail.com" target="_blank">Mail</a>
    </div>
</div>
