---
import { SITE_TITLE } from "@/consts";
---

<header>
  <a href="/">
    <h1>{SITE_TITLE}</h1>
  </a>
  <slot />
</header>

<style>
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
</style>
