---
import Base from './Base.astro';

interface Props {
    title: string;
    description: string;
    ogId?: string;
}
---

<Base
    title={Astro.props.title}
    description={Astro.props.description}
    ogId={Astro.props.ogId}
>
    <header class="flex place-content-between place-items-center pb-2 pt-6">
        <a class="block" href="/">
            <img
                src="/profile.png"
                alt="profile"
                class="h-8 w-8 rounded-full transition-transform duration-200 ease-in-out hover:scale-110 sm:h-10 sm:w-10"
            /></a
        >
        <div class="flex gap-x-4">
            <a
                href="/blog"
                class="font-sans tracking-tight text-black hover:underline dark:text-white"
                >Blog</a
            >
            <a
                target="_blank"
                href="https://dub.sh/rxQSjFM"
                class="font-sans tracking-tight text-black hover:underline dark:text-white"
                >Twitter</a
            >
            <a
                target="_blank"
                href="https://dub.sh/mVZ0vcS"
                class="font-sans tracking-tight text-black hover:underline dark:text-white"
                >Github</a
            >
            <a
                target="_blank"
                href="https://dub.sh/mVZ0vcS"
                class="font-sans tracking-tight text-black hover:underline dark:text-white"
                >Github</a
            >
            <a
                target="_blank"
                href="https://dub.sh/CJb2MuA"
                class="font-sans tracking-tight text-black hover:underline dark:text-white"
            >
                LinkedIn
            </a>
        </div>
    </header>
    <main class="pb-32 pt-8 sm:pt-12">
        <slot />
    </main>
</Base>
