---
import Base from './Base.astro';

interface Props {
    title: string;
    description: string;
    ogId?: string;
}
---

<Base
    title={Astro.props.title}
    description={Astro.props.description}
    ogId={Astro.props.ogId}
>
    <header class="flex items-center justify-between py-8">
        <a class="block" href="/">
            <img
                src="/profile.png"
                alt="profile"
                class="h-8 w-8 rounded-full transition-transform duration-200 ease-in-out hover:scale-110 sm:h-10 sm:w-10"
            />
        </a>
        <div class="flex space-x-4">
            <a
                href="/blog"
                class="text-[#676767] hover:underline dark:text-white">Blog</a
            >
            <a
                href="mailto:skdishansachin@gmail.com"
                class="text-[#676767] hover:underline dark:text-white">Mail</a
            >
            <a
                target="_blank"
                href="https://dub.sh/rxQSjFM"
                class="text-[#676767] hover:underline dark:text-white"
                >Twitter</a
            >
            <a
                target="_blank"
                href="https://dub.sh/mVZ0vcS"
                class="text-[#676767] hover:underline dark:text-white">Github</a
            >
            <a
                target="_blank"
                href="https://dub.sh/CJb2MuA"
                class="text-[#676767] hover:underline dark:text-white"
            >
                LinkedIn
            </a>
        </div>
    </header>
    <main class="pb-32">
        <slot />
    </main>
</Base>
