---
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";

import "@/global.css";

interface Props {
	title: string;
	description?: string;
	ogId?: string;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{Astro.props.description !== undefined && <meta name="description" content={Astro.props.description} />}
		<title>{Astro.props.title}</title>
		<link rel="preconnect" href="/" crossorigin />
		<link rel="preload" href="/profile.jpg" as="image" />
		<link rel="icon" href="/profile.jpg" />
		<link rel="alternate" type="application/rss+xml" title="Dishan Sachin" href={`${Astro.site}rss.xml`} />
	</head>
	<body class="mx-auto max-w-3xl px-4">
		<main class="pb-16 pt-8 leading-relaxed sm:pt-12">
			<slot />
		</main>
		<footer class="flex place-content-between py-12">
			<p class="text-sm">Copyright © skdishansachin</p>
			<a href="https://github.com/skdishansachin" class="text-sm underline hover:text-zinc-500" target="_blank" rel="noopener noreferrer"
				>Source code</a
			>
		</footer>
	</body>
</html>
