<nav>
  <p>
    <a href="/">Articles</a>
    <a href="/tags">Tags</a>
    <a href="https://github.com/skdishansachin" target="_blank">Github</a>
    <a href="https://www.linkedin.com/skdishansachin" target="_blank">Linkedin</a>
    <a href="/rss.xml">RSS</a>
  </p>
</nav>
