---
import { Image } from "astro:assets"

const navItems = {
    "/": {
        name: "home",
    },
    "/blog": {
        name: "blog",
    },
}
---

<div class="-ml-[8px] mb-16 tracking-tight">
    <div class="lg:sticky lg:top-20">
        <nav
            class="flex place-content-between place-items-start md:overflow-auto"
            id="nav"
        >
            <div class="flex flex-row space-x-0 pr-10">
                {
                    Object.entries(navItems).map(([path, { name }]) => (
                        <a
                            href={path}
                            class="relative flex px-2 py-1 align-middle transition-all hover:text-neutral-800 dark:hover:text-neutral-200"
                        >
                            {name}
                        </a>
                    ))
                }
            </div>
            <a href="/">
                <Image
                    src="/profile.png"
                    width={40}
                    height={40}
                    alt="profile picture"
                    class="size-8 rounded-full sm:size-10"
                />
            </a>
        </nav>
    </div>
</div>
