---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Work | Dishan Sachin"
  description="Developer, writer, and creator."
>
  <section>
    <h1 class="font-medium text-2xl mb-8 tracking-tighter">
      my work experience
    </h1>
    <hr class="my-6 border-neutral-100 dark:border-neutral-800" />
    <div class="prose prose-neutral dark:prose-invert">
      <div>
        <h2 class="font-medium text-xl mb-1 tracking-tighter">Ruzzz</h2>
        <p class="text-neutral-600 dark:text-neutral-400 text-sm">
          Backend Engineer, 2023 - Present
        </p>
        <p>
          So there's this new software company in Sri Lanka called Ruzzz. I'm
          actually one of the co-founders along with my colleague <a
            href="https://twitter.com/ThiwainM"
            target="_blank">Thiwain</a
          > who's a full-stack engineer. We've been planning this for a while and
          finally got it started in 2023.
        </p>
        <p>
          Now it's been a quite while and we started with our clients. Nowadays,
          we're working with clients to understand what they need and give them
          exactly that. It's not always easy, but we spend a lot of time
          planning and choosing the right solutions. Sometimes, we even end up
          making WordPress sites for our clients. I'm not a big fan of
          WordPress, but it's whatever the client wants, right?
        </p>
        <p>
          We use different approaches depending on what the client needs. For
          example, even though some might say APIs are taking over the web, we
          still use the good old monolith approach. We also create APIs like
          RESTful and GraphQL, and even microservices for our clients.
        </p>
      </div>
    </div>
  </section>
</Layout>
