---
import Layout from '@layouts/Layout.astro';

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
    <slot />
    <hr class="my-20" />
    <footer class="text-xl">
        <p>
            Whoa, you scrolling down here felt weird. Did something happen up
            there? Never mind wanna <a href="/" class="underline">go back home</a>
        </p>
    </footer>
</Layout>
